# Use root/example as user/password credentials
version: '3.7'

services:

  mongo:
    image: mongo:7.0
    container_name: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
    ports:
      - 27017:27017
    volumes:
      - '/var/lib/docker/volumes:/data/db'
      - '/var/lib/docker/volumes:/data/configdb'
    env_file:
      - path: ./.env