services:
  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    environment:
      USER_UID: 1000
      USER_GID: 1000
      GITEA__database__DB_TYPE: ${GITEA__database__DB_TYPE}
      GITEA__database__HOST: mariadb:3306
      GITEA__database__USER: ${GITEA__database__USER}
      GITEA__database__PASSWD: ${GITEA__database__PASSWD}
      GITEA__database__NAME: ${GITEA__database__NAME}
    restart: always
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - gitea_var:/var/lib/gitea
      - gitea_config:/etc/gitea
      - gitea_data:/data
    ports:
      - "${GITEA__WEB_PORT}:3000"
      - "${GITEA__SSH_PORT}:22"
    networks:
      - mariadb_network

volumes:
  gitea_var:
    name: gitea_var
  gitea_config:
    name: gitea_config
  gitea_data:
    name: gitea_data

networks:
  mariadb_network:
    external: true